@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&family=Roboto:wght@400;500;700;900&display=swap');

$poppins: 'Poppins', sans-serif;
$roboto: 'Roboto', sans-serif;

$dark-primary: #292D39;
$dark-secondary: #222630;
$dark-bright: #2B303B;
$color-primary: #FFF118;
$color-primary-hover: #f8e322;
$color-secondary: #F1F1F1;
$footer-hr: #42454F;

* {

  scroll-behavior: smooth;
  transition: 400ms;

  ::-webkit-scrollbar {
    width: 6px;
    background-color: $color-secondary; /* or add it to the track */
  }

  ::-webkit-scrollbar-thumb {
    transition: 350ms;
    &:active {
      background: $color-primary-hover;
    }
    background: $color-primary;
  }

  body {
    background-color: $dark-secondary;
  }

  html, body {
    background-color: $dark-secondary;
    max-width: 100%;
    overflow-x: hidden!important;

    .btn:focus {
      outline: none;
      box-shadow: none;
    }
  
    nav .collapsed-width {
      width: 100%;
    }
  
    nav .nav-justify {
      justify-content: flex-end;
    }
  
    nav.bg-kiskadee {
      min-height: 70px;
      background-color: $dark-primary !important;
      padding: 0.8rem;
      box-shadow: 0px 0px 2px rgba($footer-hr, 0.8)!important;

      button.navbar-toggler {
        outline: none;
        border: none;
        &:active, &:hover, &:focus {
          outline: none;
          border: none;
          box-shadow: none;
          .menu-btn {
            box-shadow: 0px 0px 2px rgba($color-primary, 0.8)!important;
          }
        }
        .menu-btn {
          position: relative;
          padding: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 30px;
          height: 30px;
          cursor: pointer;
          transition: all .5s ease-in-out;
          border: 1px solid $color-primary;
          .menu-btn-burguer {
            padding: 0;
            width: 14px;
            height: 2px;
            background:  $color-primary;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(25, 101, 47, .2);
            transition: all .5s ease-in-out;
            &::before, &::after {
              content: '';
              padding: 0;
              position: absolute;
              width: 14px;
              height: 2px;
              background:  $color-primary;
              border-radius: 5px;
            }
            &::before {
              transform: translate(-7px, -4px);
            }
            &::after {
              transform: translate(-7px, 4px);
            }
          }
        }
      }

      a.font-nav-logo {
        max-height: 41px;
        padding-bottom: 0;
        transition: 200ms;
        &:hover {
          opacity: 0.9;
        }
        img {
          max-height: 30px;
          margin-right: 0.2rem;
          padding: 0;
        }
        strong {
          max-height: 32px;
          &:hover {
            transition: 300ms;
            border-bottom: 2px double rgba($color-primary, 0.8);
          }
        }
        font-size: 1.5rem;
        font-family: $poppins;
        font-weight: bold;
        margin: 0;
      }
      ul {
        max-height: auto;
        display: inline-flex;
        margin: 0!important;
        .nav-item {
          .nav-link {
            font-weight: bold;
            transition: 500ms;
            color: $color-secondary;
            &:hover {
              color: #c0c0c0;
              transition: 500ms;
            }
          }
          font-family: $roboto;
          font-weight: regular;
          font-size: 1rem;
          margin-left: 3rem;
          &:hover, &:active {
            border-bottom: 1px solid $color-primary;
          }
        }
      }
    }
  
    main {
      .margin-home {
        margin-top: 9rem;
      }

      @media (max-width: 768px) {
          .margin-home {
          margin-top: 6rem;
        }
      }
  
      .bg-main {
        width: 100%;
        min-height: 600px;
        background-image: url("/assets/img/home/home.png");
        background-size: cover;
        background-repeat: no-repeat;
      }

  
      h1.home-title {
        text-shadow: 2px 2px 0px #131313!important;
        margin: 0;
        font-family: $poppins;
        font-weight: bold;
        color: $color-secondary;
        max-width: 700px;
      }
  
      h5.home-muted {
        text-shadow: 0px 0px 2px rgba($color-primary, 0.6)!important;
        font-family: $poppins;
        color: $color-primary;
      }
  
      p.home-text {
        margin: 0.8em 0 0.4em 0;
        color: $color-secondary;
        max-width: 700px;
        font-family: $roboto;
        font-size: 1.1rem;
      }
  
      a.btn-kiskadee {
        transition: 300ms;
        &:hover {
          transition: 300ms;
          box-shadow: 0px 0px 10px $color-primary!important;
        }
        &:focus {
          box-shadow: 0px 0px 10px $color-primary!important;
        }
        border-radius: 0.4em;
        background-color: $color-primary;
        font-family: $roboto;
        font-weight: 700;
        text-transform: uppercase;
      }
  
      a.btn-kiskadee-secondary {
        transition: 300ms;
        &:hover {
          transition: 300ms;
          box-shadow: 0px 0px 10px $color-secondary!important;
          color: #FFF;
        }
        &:focus {
          box-shadow: 0px 0px 10px $color-secondary!important;
        }
        margin-left: 1rem;
        border-radius: 0.4em;
        background: transparent;
        border: 1px solid $color-secondary;
        color: $color-secondary;
        font-family: $roboto;
        font-weight: 700;
        text-transform: capitalize;
      }

      @media (max-width: 991px) {
        a.btn-kiskadee, a.btn-kiskadee-secondary {
          padding-left: 5rem!important;
          padding-right: 5rem!important;
        }
      }
  
      @media (max-width: 768px) {
        a.btn-kiskadee-secondary{
          margin-left: 0;
        }
      }
  
      @media (max-width: 575px) {
        .margin-home {
          margin-top: 3rem;
        }
      }
    }

    .header {
      margin-top: 1.5rem;
      hr {
        margin-top: 0;
        height: 2px;
        opacity: 100%;
        width: 50px;
        color: $color-primary;
      }
      h2.section-heading {
        font-size: 28px;
        font-family: $poppins;
        font-weight: bold;
        color: $color-secondary;
      }

      p {
        text-align: justify;
        font-family: $roboto;
      }
    }

    section.section-services {
      background-color: $dark-primary;
      border-bottom: 1px solid $dark-bright;
      min-height: 450px;
      max-height: auto;
      box-shadow: 0px 0px 100px $dark-bright!important;
      .card {
        background: transparent;
        border: 3px solid;
        border-color: $color-primary;
        border-radius: 0.4em;
        &:hover {
          cursor: text;
          box-shadow: 3px 3px 0px $color-primary-hover!important;
        }

        .card-title {
          color: $color-secondary;
          h3 {
            font-family: $poppins;
            font-weight: bold;
          }
        }
        
        .card-body {
          display: flex;
          align-items: center;
          justify-content: center;
          p {
            font-family: $roboto;
            color: $color-secondary;
            width: 70%;
          }
        }
      }
    }

    section.section-about-us {
      background: $dark-bright;
      h2 {
        transition: 300ms;
        &:hover {
          transition: 300ms;
          text-shadow: 3px 3px 0px $footer-hr!important;
        }
      }
      .about-us-body {
        p {
          font-family: $roboto;
          font-size: 1.2rem;
          text-align: justify; 
          color: $color-secondary;
        }
      }
      .about-us-heading {
        margin-left: 0.8rem;
      }
    }

    section.section-projects {
      .project-card {
        background-color: $dark-secondary;
      }
      a, .project-content {
        color: $color-secondary;
        font-weight: 700;
        text-transform: capitalize;
        text-decoration: none;    
        img {
          border-top: 3px solid $color-primary;
        }
        &:hover {
          color: $color-primary;
          }
          img {
            height: 333px;
            object-fit: cover;
            filter: blur(0);
            &:hover {
              filter: blur(1px);
            }   
        }
      }
      background-color: $dark-primary; 
      overflow: hidden;
      font-family: $poppins;
      .cards-projects {
        position: relative;
        display: flex;
        flex-direction: column;
        word-wrap: break-word;
        background-clip: border-box;
        background-color: $dark-primary!important;
        border: none;
        overflow: hidden;
      }
      .card-radius {
        border-radius: 10px;
      }
    }

    section.section-contact {
      .contact-text-row {
        text-align: center;
        width: 70%
      }

      @media (max-width: 768px) {
        width: 100%;
      }

      p {
        font-size: 1.1rem;
        margin: 0;
        font-family: $roboto;
        color: $color-secondary;
        a {
          text-decoration: none;
          color: $color-primary;
          &:hover {
            transition: 300ms;
            border-bottom: 1px solid $color-primary;
          }
        }
      }

      a.btn-kiskadee {
        padding: 1.5rem;
        transition: 300ms;
        &:hover {
          transition: 300ms;
          box-shadow: 0px 0px 5px $color-primary!important;
        }
        &:focus {
          box-shadow: 0px 0px 5px $color-primary!important;
        }
        border-radius: 0.4em;
        background-color: $color-primary;
        font-family: $roboto;
        font-weight: 700;
        text-transform: uppercase;
      }
    }

    section.section-social {
      border-top: 1px solid $dark-secondary;
      background-color: $dark-bright;
      padding-top: 1.5rem;
      padding-bottom: 5rem;
      a {
        border-bottom: 1px solid $color-primary;
        text-shadow: 2px 2px 0px rgba($color-primary, 0.2)!important;
        width: 80%;
        text-decoration: none;
        color: $color-secondary;
        transition: 300ms;
        &:hover {
          text-decoration: underline;
        }
        .social-body {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          .social-title {
            font-family: $poppins;
            font-weight: 700;
          }
        }

        @media (max-width: 991px) {
          flex-direction: column;
          text-align: center;
          img {
            display: none;
          }
        }
      }
    }

    section.section-get-in-touch{
      background-color: $dark-secondary;
      color: $color-secondary;

      form {
        input, textarea {
          font-family: $poppins;
          color: $color-secondary;
          background-color: $dark-primary;
          border: none;
          resize: none;
          &::placeholder {
            font-family: $roboto;
            color: rgba($color-secondary, 0.2);
          }
          &::ms-input-placeholder {
            color: $footer-hr;
          }
          &:active, &:focus {
            transition: 500ms;
            color: $color-secondary;
            font-family: $poppins;
            background-color: $dark-primary;
            box-shadow: 3px 3px 0px rgba($color-primary, 0.8);
          }
        }

        button.btn-kiskadee {
          transition: 300ms;
          &:hover {
            transition: 300ms;
            box-shadow: 0px 0px 10px $color-primary!important;
          }
          &:focus {
            box-shadow: 0px 0px 10px $color-primary!important;
          }
          border-radius: 0.4em;
          background-color: $color-primary;
          font-family: $roboto;
          font-weight: 700;
          text-transform: uppercase;
        }
    
        button.btn-kiskadee-secondary {
          transition: 300ms;
          &:hover {
            transition: 300ms;
            box-shadow: 0px 0px 10px $color-secondary!important;
            color: #FFF;
          }
          &:focus {
            box-shadow: 0px 0px 10px $color-secondary!important;
          }
          margin-left: 1rem;
          border-radius: 0.4em;
          background: transparent;
          border: 1px solid $color-secondary;
          color: $color-secondary;
          font-family: $roboto;
          font-weight: 700;
          text-transform: capitalize;
        }
  
        @media (max-width: 991px) {
          button.btn-kiskadee, button.btn-kiskadee-secondary {
            padding-left: 5rem!important;
            padding-right: 5rem!important;
          }
        }
    
        @media (max-width: 768px) {
          a.btn-kiskadee-secondary{
            margin-left: 0;
          }
        }
      }
    }

    footer.section-footer {
      border-top: 1px solid $footer-hr;
      min-height: 90px;
      background-color: $dark-primary;
      color: $color-secondary;
      font-weight: 100;
      font-family: $roboto;
      .footer-body {
        transition: 100ms;
        margin-top: 2rem;
        p {
          margin: 0;
        }
        button.btn-go-top {
          transition: 500ms;
          &:hover, &:active {
            transition: 500ms;
            opacity: 0.6;
          }
          border: 1px solid $color-secondary;
          i {
            color: $color-secondary;
          }
        }
      }
    }
  
    @media (max-width: 991px) {
      nav .collapsed-width {
        margin-left: 10px;
      }
      
      main {
        button.btn-kiskadee-secondary, button.btn-kiskadee {
          width: 40%;
        }
      }
    }

    .page-thanks {
      font-family: $poppins;
      color: $color-primary!important;
    }
  
    @media (max-width: 768px) {
      nav .nav-justify {
        display: inline-block;
        ul {
          display: flex;
          flex-direction: column;
          li {
            margin: 0;
            padding: 0!important;
          }
        }
      }
  
      main {
        button.btn-kiskadee-secondary, button.btn-kiskadee {
          width: 100%;
        }
      }
    }
  }
  
}
